@import "https://fonts.googleapis.com/css?family=Source+Code+Pro";

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Code Pro", monospace;
  background-color: black;
  color: limegreen;
  font-size: 48px;
}
